@using Belle.Database.Enums
@using Belle.Web.Models.Product
@model ProductDetailsHttpGetVm

<div id="page-content">
        <!--MainContent-->
        <div id="MainContent" class="main-content" role="main">
            <!--Breadcrumb-->
            <div class="bredcrumbWrap">
                <div class="container breadcrumbs">
                    <a href="@Url.Action("Index", "Home")" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Product create</span>
                </div>
            </div>
            <!--End Breadcrumb-->
                
            <div id="ProductSection-product-template" class="product-template__container prstyle2 container">
                <!--#ProductSection-product-template-->
                <div class="product-single product-single-1">
                    <div class="row">
                        <div class="col-ld-12 col-md-12 col-sm-12 col-12">
                            <div id="global-error-container" class="alert alert-danger d-none">Global error</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product-details-img product-single__photos bottom">
                                <div class="zoompro-wrap product-zoom-right pl-20">
                                    <div class="zoompro-span">
                                        <img id="product-main-image" class="blur-up lazyload zoompro" src="@Model.PathToPhoto.Replace('\\', '/')" style="margin-top: 20px; margin-bottom: 15px;" />               
                                    </div>
                                </div>
                                @*<div class="product-thumb product-thumb-1">
                                    <div id="gallery" class="product-dec-slider-1 product-tab-left">
                                        <a data-image="~/images/product-detail-page/cape-dress-2.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-2.jpg" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-2.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-3.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-3.jpg" class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-3.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-4.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-4.jpg" class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-4.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-5.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-5.jpg" class="slick-slide slick-cloned" data-slick-index="0" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-5.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-6.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-6.jpg" class="slick-slide slick-cloned" data-slick-index="1" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-6.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-7.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-7.jpg" class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-7.jpg" alt="" />
                                        </a>
                                        <a data-image="~/images/product-detail-page/cape-dress-8.jpg" data-zoom-image="~/images/product-detail-page/cape-dress-8.jpg" class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                            <img class="blur-up lazyload" src="~/images/product-detail-page/cape-dress-8.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>*@
                                <div class="lightboximages">
                                    <a id="zoom-main-image" href="" data-size="1462x2048"></a>
                                    @*<a href="~/images/product-detail-page/camelia-reversible-big2.jpg" data-size="1462x2048"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big3.jpg" data-size="1462x2048"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible7-big.jpg" data-size="1462x2048"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big4.jpg" data-size="1462x2048"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big5.jpg" data-size="1462x2048"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big6.jpg" data-size="731x1024"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big7.jpg" data-size="731x1024"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big8.jpg" data-size="731x1024"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big9.jpg" data-size="731x1024"></a>
                                    <a href="~/images/product-detail-page/camelia-reversible-big10.jpg" data-size="731x1024"></a>*@
                                </div>
        
                                <div>
                                    <input class="form-control" type="file" id="formFile">
                                </div>

                            </div>
                            <!--Product Feature-->
                            <div id="photo-error-container" class="alert alert-danger d-none">Must be selected</div>
                            <div class="prFeatures">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                        <img src="~/images/credit-card.png" alt="Safe Payment" title="Safe Payment" />
                                        <div class="details"><h3>Safe Payment</h3>Pay with the world's most payment methods.</div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                        <img src="~/images/shield.png" alt="Confidence" title="Confidence" />
                                        <div class="details"><h3>Confidence</h3>Protection covers your purchase and personal data.</div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                        <img src="~/images/worldwide.png" alt="Worldwide Delivery" title="Worldwide Delivery" />
                                        <div class="details"><h3>Worldwide Delivery</h3>FREE &amp; fast shipping to over 200+ countries &amp; regions.</div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                        <img src="~/images/phone-call.png" alt="Hotline" title="Hotline" />
                                        <div class="details"><h3>Hotline</h3>Talk to help line for your question on 4141 456 789, 4125 666 888</div>
                                    </div>
                                </div>
                            </div>
                            <!--End Product Feature-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product-single__meta">
                                @*<h1 class="product-single__title">Product Layout Style2</h1>*@
                                <p>Product name</p>
                                <h1 class="product-single__title">@Model.Name</h1>

                                <br />

                                <div class="row">
                                    <div class="col-ld-6 col-md-6 col-sm-6 col-6">
                                        <p>Price <h1><span class="money">@Model.Price</span></h1></p>
                                    </div>
                                    <div class="col-ld-6 col-md-6 col-sm-6 col-6">
                                        <p>Count <h1><span class="money">@Model.Count</span></h1></p>
                                    </div>
                                </div>

                                <br />

                                <div>
                                    <div class="product-form__item">Description
                                        <p>
                                            <h1 class="product-single__title">
                                                @Model.Description
                                            </h1>
                                        </p>
                                    </div>
                                </div>

                                <div>
                                    <div class="product-form__item">Category: 
                                        <h1 class="product-single__title">
                                            @Html.DisplayFor(model => model.Category)
                                        </h1>
                                    </div>
                                </div>
                                <div>
                                    <div class="product-form__item">Size:
                                        <h1 class="product-single__title">
                                            @Html.DisplayFor(model => model.Size)
                                        </h1>
                                    </div>
                                </div>
                        </div>
                            <!--Product Tabs-->
                            <div class="tabs-listing">
                                <div class="tab-container">
                                    <h3 class="acor-ttl active" rel="tab1">Product Details</h3>
                                    <div class="product-form__item">
                                        <h1 class="product-single__title">
                                            @Model.Details
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <!--End Product Tabs-->
                        </div>
                    </div>
            </div>
        <!--MainContent-->
    </div>
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
</div>
</div>